h1{
  text-align:center;
  font-size:40px;
}
h{
  position:absolute;
  right:0px;
  top:0px;
  padding:10px 20px;
}



p{
  background-color:#AA00E1;
  border:1px solid black;
  float:left;
  margin-right:30px;
  position:relative;
  left:40px;
  font-family:monospace;
  font-size:15px;
}


#p1{
  color:white;
   width:30%;
  height:200px;
  
  
}

#p2{
  color:white;
   width:30%;
  height:200px;
}

#p3{
  color:white;
   width:30%;
  height:200px;
}


@media (min-width:992px) {
  #p1{
  color:white;
   width:30%;
  height:200px;
  position:relative;
  left:3%;
  
  
}

#p2{
  color:white;
   width:30%px;
  height:200px;
  left:3%;
}

#p3{
  color:white;
   width:30%px;
  height:200px;
  left:3%;
}

}

@media (min-width:768px) and (max-width:991px){
   
   h1{
    position:relative;
    left:0%;
  }
  #p1{
  color:white;
   width:40%;
  height:200px;
  position:relative;
   left:8%;
  
  
}

#p2{
  color:white;
   width:40%;
  height:200px;
  position:relative;
   left:8%;
}

#p3{
  color:white;
   width:84%;
  height:200px;
  position:relative;
   left:8%;
}
}

@media(max-width: 767px){
  
  h1{
    position:relative;
    left:0%;
  }
  
  #p1 {
  color:white;
   width:60%;
  height:200px;
   position:relative;
   left:20%;
  
  
}

#p2{
  color:white;
   width:60%;
  height:200px;
   position:relative;
   left:20%;
  
  
}

#p3{
  color:white;
   width:60%;
  height:200px;
   position:relative;
   left:20%;
  
  
}
  
}
